<% toc = TableOfContents.new %>

<% toc.chapters_ru.each_with_index do |chapter, index| %>
  <<%= @heading %>>
    <a href="/<%= 'ru/' + transliterate_to_latin(chapter.name).parameterize %>">Глава <%= 1 + index %>: <%= chapter.name %></a>
  </<%= @heading %>>
  <ul>
    <% chapter.section_names.each do |name| %>
    <li class="<%= name == @title && @item[:filename].include?(chapter.name.parameterize) ? 'selected' : 'unselected'%>">
      <a href="/<%= 'ru/' + transliterate_to_latin(chapter.name).parameterize + '/razdeli/' + transliterate_to_latin(name).parameterize %>"><%= name %></a>
      </li>
    <% end %>
  </ul>
<% end %>

<% toc.appendices_ru.each_with_index do |chapter, index| %>
  <<%= @heading %>>
    <a href="/<%= chapter.name.parameterize %>">Приложение <%= ('A'.ord + index).chr %>: <%= chapter.name %></a>
  </<%= @heading %>>
  <ul>
    <% chapter.section_names.each do |name| %>
      <li class="<%= name == @title && @item[:filename].include?(chapter.name.parameterize) ? 'selected' : 'unselected'%>">

        <a href="/<%= chapter.name.parameterize + '/sections/' + name.parameterize %>"><%= name %></a>
      </li>
    <% end %>
  </ul>
<% end %>
