<!DOCTYPE HTML>
<html lang="en">
  <head>
    <%= renderp '/includes/meta.html' %>
    <%= renderp '/includes/favicon.html' %>
  </head>
  <body class="layout-article">
    <div class="footer-push">
      <%= renderp '/includes/top_bar.html' %>
      <div class="wrapper documents content-push wide">
        <%= renderp '/includes/search.html' %>

        <div class="toc">
            <% unless versions_of(@item).empty? %>
            <label for="version">Select version</label>
            <select name="version" id="version">
                <% versions_of(@item).each do |version| %>
                <option class="version_item" value="<%= version.path %>"><%= version[:version] %></option>
                <% end %>
            </select>
            <% end %>
          <% if language_code_of(@item) == 'ru' %>
            <%= renderp '/includes/toc_ru.html', :heading => 'h4', :title => @item[:title] %>
          <% else %>
            <%= renderp '/includes/toc.html', :heading => 'h4', :title => @item[:title] %>
          <% end %>
        </div>
        <% section = lookup_section('toc', @item[:title]) %>
        <h1 class="document-title">
          <%= renderp '/includes/platform-nav.html' %>
          <a class="improve-link"
              href="<%= "https://github.com/atom/flight-manual.atom.io/edit/master/content#{@item.identifier}" %>" data-proofer-ignore>
            <span class="octicon octicon-pencil"></span> Improve this page
          </a>
        </h1>
        <div class="markdown-body document-content">
          <% section = lookup_section('toc', @item[:title]) %>
            id is: <%= @item.identifier%>
          <%= yield %>
        </div>
      </div>
      <div class="footer-pad"></div>
    </div>
    <%= renderp '/includes/bottom_bar.html' %>
  </body>
</html>
